@use '@angular/material' as mat;

@include mat.legacy-core();

$light-primary-text: white;
$dark-primary-text: black;
$light-secondary-text: white;
$dark-secondary-text: black;

$lifelike-primary-colors: (
  50 : #e5ebf4,
  100 : #bdcde2,
  200 : #91accf,
  300 : #648bbc,
  400 : #4372ad,
  500 : #2f5d8c,
  600 : #295581,
  700 : #224a73,
  800 : #1b4066,
  900 : #102e4d,
  A100 : #a9c8ff,
  A200 : #76a7ff,
  A400 : #4387ff,
  A700 : #2a76ff,
  contrast: (
    50 : $dark-primary-text,
    100 : $dark-primary-text,
    200 : $dark-primary-text,
    300 : $dark-primary-text,
    400 : $light-primary-text,
    500 : $light-primary-text,
    600 : $light-primary-text,
    700 : $light-primary-text,
    800 : $light-primary-text,
    900 : $light-primary-text,
    A100 : $dark-primary-text,
    A200 : $dark-primary-text,
    A400 : $dark-primary-text,
    A700 : $dark-primary-text,
  )
);

$lifelike-secondary-colors: (
  50 : #fbeee2,
  100 : #f6d4b8,
  200 : #f0b789,
  300 : #ea9a59,
  400 : #e68536,
  500 : #e07a2f,
  600 : #da722a,
  700 : #d16623,
  800 : #c85b1d,
  900 : #bb4812,
  A100 : #ffe7db,
  A200 : #ffc2a8,
  A400 : #ff9d75,
  A700 : #ff8b5c,
  contrast: (
    50 : $dark-secondary-text,
    100 : $dark-secondary-text,
    200 : $dark-secondary-text,
    300 : $dark-secondary-text,
    400 : $dark-secondary-text,
    500 : $dark-secondary-text,
    600 : $dark-secondary-text,
    700 : $light-secondary-text,
    800 : $light-secondary-text,
    900 : $light-secondary-text,
    A100 : $dark-secondary-text,
    A200 : $dark-secondary-text,
    A400 : $dark-secondary-text,
    A700 : $dark-secondary-text,
  )
);


$lifelike-primary: mat.define-palette($lifelike-primary-colors);
$lifelike-accent: mat.define-palette($lifelike-secondary-colors, 500, A100, 900);
$lifelike-theme: mat.define-light-theme((
  color: (
    primary: $lifelike-primary,
    accent: $lifelike-accent,
  )
));

@include mat.all-legacy-component-themes($lifelike-theme);
